// Tipografia
$fuentePrincipal: 'Montserrat', sans-serif;

// Colores
$tonoCalido: #F5DEB3;
$rosaPolvoriento: #D8BFD8;
$amarilloSoleado: #FFD700;
$turquesaRefrescante: #00CED1;
$grisCarbon: #333333;
$blancoAhumado: #F5F5F5;

// Media Queries Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;